.row{
    margin-left: 20px;
    color: #fff;
}

.row-posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem 0;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster{
    width: 100%;
    object-fit: contain;
    max-width: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-poster:hover{
    transform: scale(1.08);
}

.row-posterLarge{
    /* max-height: 150px; */
}
.row-posterLarge:hover{
    transform: scale(1.09);
}