.navbar{
    position: fixed;
    z-index: 100;
    width: 98%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    transition: all 1s;
}

.nav-background{
    background-color: #111;
}

.nav-logo{
    width: 90px;
    object-fit: contain;
}

.nav-avatar{
    width: 30px;
    object-fit: contain;
}