.banner {
    text-align: left;
    color: #fff;
    object-fit: contain;
    height: 450px;
    position: relative;
}

.banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.60), #111);
}

.banner-contents {
    position: absolute;
    z-index: 12;
    margin-left: 2rem;
    padding-top: 140px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-desc {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: 80px;
}